@mixin verticalCenter
  top: 50%
  transform: translateY(-50%)

@mixin horizontalCenter
  left: 50%
  transform: translateX(-50%)

@mixin switcher
  input[type="checkbox"]
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    -webkit-tap-highlight-color: transparent
    cursor: pointer
    &:focus
      outline: 0

  .toggle
    height: 32px
    width: 52px
    border-radius: 16px
    display: inline-block
    position: relative
    margin: 0
    border: 2px solid #474755
    background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%)
    transition: all .2s ease
    &:after
      content: ''
      position: absolute
      top: 2px
      left: 2px
      width: 24px
      height: 24px
      border-radius: 50%
      background: white
      box-shadow: 0 1px 2px rgba(44,44,44,.2)
      transition: all .2s cubic-bezier(.5,.1,.75,1.35)
    &:checked
      border-color: #654FEC
      &:after
        transform: translatex(20px)

@mixin hidden
  max-height: 0
  opacity: 0
  pointer-events: none
  overflow: hidden
  transition: all .3s ease-in-out
@mixin visible
  max-height: 4000px
  opacity: 1
  pointer-events: inherit
  overflow: visible

@mixin arrowMix
  height: $px15
  width: $px15
  display: block
  .arrowInner
    display: block
    width: 100%
    height: 100%
    clip-path: polygon(100% 16%, 0 16%, 50% 84%)
    transition: $transition
    background-color: $mainChangebleBg
  &.active
    .arrowInner
      transform: rotate(180deg)

@mixin popupWrapper
  position: fixed
  top: 0
  left: 0
  z-index: 100
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, .5)
  @include centerMix

@mixin oftenBtn
  border-radius: $px15
  padding: $px5 $px10
  cursor: pointer
  font-weight: 600
  border: none
  font-size: $px15
  display: inline-block
  max-width: Min(calc(#{$index} * 13), 270px)
  max-height: Min(calc(#{$index} * 3), 60px)
  margin: auto
  color: $mainChangebleBg

@mixin buttonSoc
  clip-path: polygon(0 30%, 50% 0, 100% 30%, 100% 70%, 50% 100%, 0 70%)
  height: Min(calc(#{$index} * 1.3))
  width: 100%
  position: absolute
  bottom: 0
  @include horizontalCenter
  cursor: pointer
  font-size: $px10
  background-color: #fff
  input
    position: absolute
    width: 100%
    z-index: 120
    opacity: 0
    height: 100%
    top: 0
    background-color: red
    left: 0
    cursor: pointer !important
  .buttonInner
    z-index: -1
    @include centerMix
    clip-path: polygon(0 30%, 50% 0, 100% 30%, 100% 70%, 50% 100%, 0 70%)
    position: relative
    top: 2px
    left: 2px
    background-color: #fff
    color: #2254a0
    font-weight: 600
    width: calc(100% - 4px)
    height: calc(100% - 4px)

@mixin popupWrapper
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color: rgba(0, 0, 0, .6)
  opacity: 0
  transition: opacity .3s ease-in-out
  pointer-events: none
  @include centerMix
  &.active
    pointer-events: inherit
    opacity: 1
  & > div
    border-radius: $px15
    background-color: $mainChangebleBg

@mixin usingBtn
  border-radius: $px10
  padding: $px5 $px15
  cursor: pointer
  font-size: $px12
  border: none
  display: inline-block
  background-color: $mainChangebleBg
  color: #fff
  max-width: Min(calc(#{$index} * 12.5), 250px)
  max-height: Min(calc(#{$index} * 3), 60px)


@mixin titleForContract
  text-align: center
  display: inline-block
  font-size: $px24
  margin: 0 auto $px20 auto
  border: 1px solid #fff
  background-color: #fff
  color: $mainChangebleBg
  width: Min(calc(#{$index} * 17), 340px)
  border-radius: $px20
  padding: $px8 0
  font-weight: 700

@mixin starMix
  width: $px15
  height: $px15
  margin-left: $px10
  transition: $transition
  fill: transparent
  stroke: #ffef00
  cursor: pointer
  &.active
    fill: #ffef00


@mixin startingPayMix
  border: 1px solid #fff
  width: calc(#{$index} * 27)
  display: flex
  flex-direction: column
  max-width: 100%
  box-sizing: border-box
  border-radius: calc(#{$index} * 0.5)
  transition: .3s all $transition
  padding: calc(#{$index} * 0.75)
  color: #fff
  position: relative
  margin: auto
  font-weight: 600
  h2
    @include titleForContract
    &.MutatorTitle
      margin-top: calc(#{$index} * 3)
      margin-bottom: $px35

@mixin nftMix
  margin-right: $px10
  margin-bottom: $px10
  background-color: $nftColor
  border-radius: $px10
  font-size: $px10
  padding: $px8
  font-weight: 600
  display: flex
  flex-direction: column
  .topWrapper
    display: flex
    align-items: center
    h4
      font-size: $px10
      width: calc(#{$index} * 4)
    .ActionsWrapper
      margin-left: $px10
      background-color: $yellow
      color: $mainChangebleBg
      padding: $px5 $px5
      border-radius: $px15
      font-size: $px10
      cursor: pointer
  .NftImg
    height: Min(calc(#{$index} * 7), 144px)
    width: Min(calc(#{$index} * 7), 144px)
    margin: $px10 auto
    img
      width: 100%
      height: 100%
      object-fit: contain
  .CenterLine, .BottomLine
    display: flex
    align-items: center
    justify-content: space-between
    h5.name
      font-size: $px12
    svg.Envelop
      fill: $yellow
      height: $px35
      cursor: pointer
    button
      padding: $px5 $px5
      border-radius: $px10
      background-color: transparent
      color: #ffff
      border: 1px solid #ffff
      font-size: $px12
      cursor: pointer

    button.buy
      background-color: green
      color: #fff
      text-transform: uppercase
    button.bid
      background-color: #fff
      border: 1px solid green
      color: green
      text-transform: uppercase
  .BottomLine
    margin-top: $px5
    button
      &:first-child
        color: $yellow
        border: 1px solid $yellow


@mixin networkTitleArrow
  display: flex
  align-items: center
  .arrow
    padding: $px5
    border: 1px solid #fff
    margin-left: $px10
    cursor: pointer
    @include arrowMix
    .arrowInner
      background-color: #fff

@mixin networkMix
  @include startingPayMix
  .InfoList
    &.lastOne
      margin-top: calc(#{$index} * 2.5)
      .InfoElem
        input.number
          width: calc(#{$index} * 3)
          text-align: center
    .Title
      display: flex
      align-items: center
      .arrow
        padding: $px5
        border: 1px solid #fff
        margin-left: $px10
        cursor: pointer
        @include arrowMix
        .arrowInner
          background-color: #fff

    li
      &.InfoElem
        margin-bottom: calc(#{$index} * .5)
        display: flex
        align-items: center
        justify-content: space-between
        flex-wrap: wrap

        .inputWrapper
          width: 55%
          input
            width: calc(100% - #{$index} * 0.3)
            padding-right: 0
            &.disable
              pointer-events: none
          .lock
            position: absolute
            top: 50%
            transform: translateY(-50%)
            right: $px5

        input
          width: 55%
        span
          width: 40%
          font-size: $px15
        img
          display: block
          height: calc(#{$index} * 2)
          width: calc(#{$index} * 2)
          object-fit: contain
          border: 1px solid #fff
      &.isPrivate
        margin-top: $px15
        display: flex
        flex-direction: column
        span
          display: block
          font-size: $px10
          &.leftTitle
            font-size: $px15
          &.red
            color: red
        .choosingList
          display: flex
          flex-direction: column
          margin-top: $px10
          width: 100%
          &.noTouch
            pointer-events: none
            input
              color: red
          .or
            margin: $px24 0 $px8 calc(#{$index} * 1.7)
          .orLine
            margin: 0 $px10 0 $px18
          .choosingItemWrapper
            transition: opacity .3s ease-in-out
            display: flex
            &.disabled
              opacity: .5
              .choosingItem
                pointer-events: none
                &.number
                  pointer-events: inherit
            .choosingItem
              display: flex
              flex-direction: column
              border: 1px solid #fff
              text-align: center
              border-radius: calc(#{$index} * .5)
              padding: calc(#{$index} * .2)
              width: calc(#{$index} * 2)
              height: calc(#{$index} * 2.2)
              cursor: pointer
              &.last
                margin-right: 0
              span
                height: 50%
                font-size: $px8

                position: relative
                .InfoWrapper
                  right: 0
                  top: -2px
                  svg
                    margin: 0
                    stroke: #fff
            input
              padding: 0
              height: 50%
            svg
              width: calc(#{$index} * .6)
              height: calc(#{$index} * .6)
              margin:  $px5 auto 0 auto
              stroke: $yellow
              fill: transparent
              &.active
                fill: $yellow

        &.NetworkingChoosing
          margin-top: $px35 !important
          .networkList.noTouch
            pointer-events: none

        &.Format

          .choosingList
            display: block
            .choosingItem
              margin-right: $px10

        &.isFormat
          margin-bottom: calc(#{$index} * 2.5)
          span.red
            color: red
          .choosingList
            .choosingItemBottom
              position: relative
              transition: opacity .3s ease-in-out
              .StarWrapper
                position: absolute
                right: 0
                @include verticalCenter
                transform: translateX(calc(100% + #{$px5})) translateY(-50%)
              &.disable
                opacity: .5
              .buttonsWrapper
                margin-top: $px5
                position: absolute
                width: 100%
                display: flex
                bottom: 0
                left: 0
                transform: translateY(calc(100% + #{$px5}))
                input
                  //width: calc(#{$index} * 1.3)
                  width: 50%
                  height: calc(#{$index} * 1)
                  text-align: center
                  font-size: $px10
            .choosingItem
              width: calc(#{$index} * 3.5)
              margin-right: $px10
              &.inputing
                width: calc(#{$index} * 7.5)
                span
                  font-size: $px10
              &.disabled
                pointer-events: none
              input
                text-align: center
  .networkList
    display: flex
    align-items: center
    flex-wrap: wrap
    @include hidden
    width: 100%
    &.active
      @include visible
      width: 100%
    .networkElem
      display: flex
      align-items: center
      margin-right: $px8
      margin-bottom: $px8
      border: 1px solid #B5B6B5
      border-radius: $px15
      padding: $px5
      cursor: pointer
      &.disable
        background-color: #b2b3b2
      img
        &:first-child
          height: Min(calc(#{$index} * 1), 20px)
      span
        font-size: $px10
        color: #fff
        font-weight: 600
      svg
        width: $px15
        height: $px15
        margin-left: $px10
        transition: $transition
        fill: transparent
        stroke: #ffef00
        &.active
          fill: #ffef00


@mixin noActions
  transition: $transition
  pointer-events: inherit
  display: flex
  flex-direction: column
  &.hidden
    pointer-events: none
    opacity: .65

@mixin newBtnMix
  background-color: #fff
  border-radius: $px10
  color: rgb(0, 48, 134)
  font-size: $px12
  border: none
  padding: $px5
  cursor: pointer
  transition: all .3s ease-in-out
  width: Min(200px, calc(#{$index} * 10))
  &.disable
    pointer-events: none
    opacity: .6
