@import "./vars/vars"
@import "./vars/mixins"

.BottomInfoSection
  margin-top: Min(calc(#{$index} * 5), 105px)
  display: flex
  justify-content: space-between

  .BottomInfoSection_side
    width: 33.3%
    h3
      font-size: #{$px20}
      margin-bottom: #{$px27}
    p
      font-size: #{$px16}
      max-width: Min(calc(#{$index} * 15), 300px)
      height: Min(calc(#{$index} * 4), 80px)
      line-height: 1.6em
      font-family: "TTL", sans-serif

    .BottomInfoSection_resultLines
      margin-top: #{$px30}
      .BottomInfoSection_resultLine
        display: flex
        align-items: center
        justify-content: space-between
        width: Min(calc(#{$index} * 5), 100px)
      .BottomInfoSection_resultLine_title
        font-size: #{$px18}
      .BottomInfoSection_resultLine_number
        font-family: "TTL", sans-serif
        font-size: #{$px18}
      .BottomInfoSection_resultLine_center
        width: Min(calc(#{$index} * 7), 140px)

@media all and (max-width: 768px)
  .BottomInfoSection
    flex-wrap: wrap
    .BottomInfoSection_side
      width: 50%
      p
        height: inherit
      &:last-child
        margin-top: $px50

@media all and (max-width: 576px)
  .BottomInfoSection
    .BottomInfoSection_side
      width: 100%
      &:nth-child(2)
        margin-top: $px50
