@import "~reset-css"

@import "./vars/vars"
@import "./vars/mixins"

@font-face 
  font-family: 'TTL'
  font-style: normal
  font-weight: normal
  src: local('TTL'), url('./../assets/fonts/TTNormsPro-Light.woff2') format('woff2')

@font-face
  font-family: 'TT'
  font-style: normal
  font-weight: normal
  src: local('TT'), url('./../assets/fonts/TTNormsPro-Regular.woff2') format('woff2')

@font-face
  font-family: 'TTT'
  font-style: normal
  font-weight: normal
  src: local('TTT'), url('./../assets/fonts/TTNormsPro-Thin.woff2') format('woff2')

body
  &.hidden
    overflow: hidden

*::-webkit-scrollbar
  width: 1px
  height: 1px

*::-webkit-scrollbar-thumb
  background-color: #582734

*::-webkit-scrollbar-track
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset
  background-color: #fff

a
  text-decoration: none
  color: inherit

button
  border: none

body
  background-color: $accent
  font-family: "TT", sans-serif
  color: $textColor
  overflow-x: hidden !important

.container
  width: Min(calc(#{$index} * 84), 1680px)
  max-width: 90%
  margin: auto

.header
  .container
    padding: $px10 0
    border-bottom: 1px solid #582734
    .headerInner
      display: flex
      align-items: center
      height: 5vh
      min-height: Min(calc(#{$index} * 2.5), 50px)
      .Logo
        position: absolute
        left: 50%
        transform: translateX(-50%)
        height: 100%
        width: Min(calc(#{$index} * 2), 40px)
      .BackBtn
        display: flex
        align-items: center
        padding: $px16 $px35
        font-size: $px18
        background-color: #C58697
        border-radius: Min(calc(#{$index} * 2.5), 50px)
        display: inline-block
        color: #fff
        display: none
        span
          margin-left: $px20
  .CircleTop
    top: 0
    left: 0
    position: absolute
    max-height: 30%
    max-width: 35%


.footer
  position: relative
  z-index: 1
  margin-top: Min(calc(#{$index} * 5), 100px)
  .footerInner
    padding: Min(calc(#{$index} * 2), 40px) 0 Min(calc(#{$index} * 3), 60px)
    border-top: 1px solid #582734
    display: flex
    justify-content: space-between
    .LogoFooter
      height: Min(calc(#{$index} * 8), 160px)
    ul
      display: flex
      flex-direction: column
      justify-content: space-between
      font-size: $px18
      span
        font-family: "TT", sans-serif
        color: #582734
      li
        font-family: "TTL", sans-serif
        cursor: pointer
        color: #C48697


$fontSizeInput: $px20

input
  border: 1px solid #582734
  border-radius: $px50
  font-size: $fontSizeInput
  padding: $px10 $px35
  width: 100%
  background-color: transparent
  box-sizing: border-box
  outline: none
  color: #582734

.m-auto
  margin: auto

.selectWrapper
  margin-bottom: $px10


.selectContainer
  border-radius: $px50
  padding: 0
  height: 100%
  .selectInput, .selectValueContainer
    margin: 0
    padding: 0
  .selectData
    border: 1px solid #582734 !important
    border-radius: $px50
    font-size: $fontSizeInput
    padding: 0 $px24 0 $px35
    box-sizing: border-box
    width: 100%
    height: 100%
    min-height: 100% !important
    max-height: 100% !important
    background-color: transparent
    box-sizing: border-box
    outline: none
    color: #582734
    span
      display: none
    div
      height: 100%
      display: flex
      padding: 0
      min-height: 100% !important
      max-height: 100% !important
      align-items: center

