@import "reset-css"

@import "./vars/vars"
@import "./vars/mixins"

@font-face 
  font-family: 'TTL'
  font-style: normal
  font-weight: normal
  src: local('TTL'), url('./../assets/fonts/TTNormsPro-Light.woff2') format('woff2')


@font-face
  font-family: 'TT'
  font-style: normal
  font-weight: normal
  src: local('TT'), url('./../assets/fonts/TTNormsPro-Regular.woff2') format('woff2')

body
  background-color: $accent
  font-family: "TT", sans-serif

.container
  width: Min(calc(#{$index} * 84), 1680px)
  max-width: 90%
  margin: auto

.header
  padding: $px20 0