@import "./vars/vars"
@import "./vars/mixins"

.ResultSection
  padding:  Min(calc(#{$index} * 3), 60px) 0
  transition: all .3s ease-in-out
  .container
    .ResultTopData
      margin-top: $px29
      font-size: $px22
      font-family: "TTL", sans-serif
      margin-bottom: Min(calc(#{$index} * 3), 60px)
    .ResultItemsList
      position: relative
      z-index: 10
      .ResultItem
        border-top: 1px solid #582734
        cursor: pointer
        &:last-child
          border-bottom: 1px solid #582734
        .ResultItemHeader
          padding: $px20 $px27 $px20 0
          display: flex
          font-size: $px18
          justify-content: space-between
          align-items: center
          svg
            transition: $apple
            &.active
              transform: rotate(180deg)
        .ResultItemContent
          max-height: 0
          opacity: 0
          transition: $apple
          pointer-events: none

        &.active
          .ResultItemContent
            color: #582734
            opacity: 1
            max-height: 50000px
            pointer-events: inherit
            h3, p
              font-size: $px18
              line-height: 1.4em
              margin-bottom: $px18
            p
              font-family: "TTL", sans-serif

    .MapSection
      display: flex
      align-items: center
      justify-content: space-between
      .matrix
        width: 47%
      .TableOnline

.ResultTitle
  @include titleMix
  font-size: $px29
  margin-bottom: $px30

.ResultDescription
  margin-bottom: $px30
  p
    font-size: $px20
    margin-bottom: $px20
    line-height: 1.4em
    max-width: 65%
  ul
    display: flex
    //flex-direction: column
    flex-wrap: wrap
    li
      margin-bottom: $px15
      font-size: $px17
      line-height: 1.4em
      font-family: "TTL", sans-serif
      width: 50%

@media screen and (max-width: 768px)
  .ResultSection
    .container
      .MapSection
        flex-direction: column
        .matrix
          width: 80%